In [2]:
import sqlite3
import pandas as pd
import re

con = sqlite3.connect("data.db")

## wp_posts

In [44]:
df = pd.read_sql_query("SELECT * FROM  wp_posts", con)
df.head(5)

,ID,post_author,post_date,post_date_gmt,post_content,post_title,post_excerpt,post_status,comment_status,ping_status,...,pinged,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count
0,5,1,2011-10-03 02:53:05,2011-10-03 02:53:05,[random max=18]\n\n,Home,,publish,open,open,...,,2017-03-07 14:42:19,2017-03-07 06:42:19,,0,http://lbnx95.ust.hk/gallery/?page_id=5,0,page,,0
1,6,1,2011-10-03 02:53:54,2011-10-03 02:53:54,<!-- 2015.06.17\nCompleted loading of 949 even...,About,,publish,open,open,...,,2017-03-07 14:44:36,2017-03-07 06:44:36,,0,http://lbnx95.ust.hk/gallery/?page_id=6,1,page,,0
2,8,1,2011-10-03 02:58:58,2011-10-03 02:58:58,http://lbnx39.ust.hk/gallery/wp-content/upload...,revised1-940x150.png,,inherit,open,open,...,,2011-10-03 02:58:58,2011-10-03 02:58:58,,0,http://lbnx39.ust.hk/gallery/wp-content/upload...,0,attachment,image/png,0
3,594,1,2011-10-23 20:07:09,2011-10-23 12:07:09,http://digitalimages.ust.hk/gallery/wp-content...,revised-banner-di.png,,inherit,open,open,...,,2011-10-23 20:07:09,2011-10-23 12:07:09,,0,http://digitalimages.ust.hk/gallery/wp-content...,0,attachment,image/png,0
4,601,2,2012-03-08 12:05:01,2012-03-08 04:05:01,[evtitle]OCLC Institute Knowledge Management: ...,OCLC Institute Knowledge Management: Methods a...,,publish,open,open,...,,2012-03-08 12:05:01,2012-03-08 04:05:01,,0,http://digitalimages.ust.hk/gallery/?p=601,0,post,,0

In [45]:
df.columns

Index(['ID', 'post_author', 'post_date', 'post_date_gmt', 'post_content',
       'post_title', 'post_excerpt', 'post_status', 'comment_status',
       'ping_status', 'post_password', 'post_name', 'to_ping', 'pinged',
       'post_modified', 'post_modified_gmt', 'post_content_filtered',
       'post_parent', 'guid', 'menu_order', 'post_type', 'post_mime_type',
       'comment_count'],
      dtype='object')

In [46]:
df['post_content']

0                                    [random max=18]\n\n
1      <!-- 2015.06.17\nCompleted loading of 949 even...
2      http://lbnx39.ust.hk/gallery/wp-content/upload...
3      http://digitalimages.ust.hk/gallery/wp-content...
4      [evtitle]OCLC Institute Knowledge Management: ...
                             ...
965    eyJmaWx0ZXIiOiJyYXciLCJtZXRhX2lkIjoiODgwMCIsIn...
966    eyJmaWx0ZXIiOiJyYXciLCJtZXRhX2lkIjoiODgxNSIsIn...
967                     <h2>&nbsp;</h2>\n[random max=18]
968    eyJpZF9maWVsZCI6IklEIiwiX19kZWZhdWx0c19zZXQiOn...
969    [submittedby]PAO\n[oldcode]DIS-MAX-XXX-SM\n[ga...
Name: post_content, Length: 970, dtype: object

In [47]:
df_new = df.copy()
for i in range(len(df)):
    result = re.findall(r"\[([^.]*?)\]([^\[\n]+)", df.loc[i, 'post_content'])
    if (len(result)):
        for key, value in result:
            df_new.loc[i, key] = value
    else:
        df_new.loc[i, 'remarks'] = df.loc[i, 'post_content']

In [48]:
print('old wp_posts contains', len(df.columns), 'features')
print('new wp_posts contains', len(df_new.columns), 'features')

old wp_posts contains 23 features
new wp_posts contains 31 features

In [55]:
print("dim of df is", df_new.shape)

dim of df is (970, 31)

In [85]:
temp = df_new.isna().sum()
temp[temp != 0]

remarks        949
evtitle         27
evtype          83
dept           769
submittedby     21
galleryname     21
evdate          21
oldcode        202
dtype: int64

In [57]:
df_new.describe()

                ID  post_author  post_parent  menu_order  comment_count
count   970.000000   970.000000   970.000000  970.000000     970.000000
mean   1174.662887     1.908247     3.152577    0.004124       0.024742
std     409.835287     0.288825    71.098163    0.078581       0.382008
min       5.000000     1.000000     0.000000    0.000000       0.000000
25%     845.250000     2.000000     0.000000    0.000000       0.000000
50%    1087.500000     2.000000     0.000000    0.000000       0.000000
75%    1579.750000     2.000000     0.000000    0.000000       0.000000
max    2056.000000     2.000000  1888.000000    2.000000      11.000000

In [67]:
df_new.drop(['post_content'], axis=1)
df_new.to_csv('ws_post.csv' ,index=False)

## wp_tagthis

In [68]:
df_t = pd.read_sql_query("SELECT * FROM  wp_tagthis", con)
df_t.head(5)

,id,postid,tagid,posttitle,status,tag,timestamp,ip,posLeft,posTop,width,height
0,1349,1251,750,Vice Chancellor\'s Office (VC)[Diana Chan%%dia...,9,[p=c2-370]Chia-wei Woo (吳家瑋),1317713455,,NaN,NaN,NaN,NaN
1,1350,1063,751,Splendors of Brush and Ink Exhibition and Rece...,9,[p=b2-380]Min-min Chang (周敏民),1317879375,,NaN,NaN,NaN,NaN
2,1351,1057,752,Jerzy Lesko Exhibit Opening[cheryl%%lbcheryl@u...,9,[p=b2-285]Sun Zehua,1317881001,,NaN,NaN,NaN,NaN
3,1352,1057,753,Jerzy Lesko Exhibit Opening[cheryl%%lbcheryl@u...,9,[p=b2-285]Ada Cheung,1317881024,,NaN,NaN,NaN,NaN
4,1353,1058,754,Lam Wu-Fui Painting Exhibit[cheryl%%lbcheryl@u...,9,[p=b2-290]Min-min Chang (周敏民),1317881122,,NaN,NaN,NaN,NaN

In [79]:
df_tnew = df_t.copy()
for i in range(len(df_t)):
    result= re.findall(r"\[([^.]*?)\]([^\[\n]+)", df_t.loc[i, 'tag'])
    if (len(result)):
        id, name = result[0]
        df_tnew.loc[i, 'name'] = name
        for pair in id.split('%%'):
            key, value = pair.split('=')
            df_tnew.loc[i, key] = value
df_tnew.head(5)

,id,postid,tagid,posttitle,status,tag,timestamp,ip,posLeft,posTop,width,height,name,p,pid
0,1349,1251,750,Vice Chancellor\'s Office (VC)[Diana Chan%%dia...,9,[p=c2-370]Chia-wei Woo (吳家瑋),1317713455,,NaN,NaN,NaN,NaN,Chia-wei Woo (吳家瑋),c2-370,NaN
1,1350,1063,751,Splendors of Brush and Ink Exhibition and Rece...,9,[p=b2-380]Min-min Chang (周敏民),1317879375,,NaN,NaN,NaN,NaN,Min-min Chang (周敏民),b2-380,NaN
2,1351,1057,752,Jerzy Lesko Exhibit Opening[cheryl%%lbcheryl@u...,9,[p=b2-285]Sun Zehua,1317881001,,NaN,NaN,NaN,NaN,Sun Zehua,b2-285,NaN
3,1352,1057,753,Jerzy Lesko Exhibit Opening[cheryl%%lbcheryl@u...,9,[p=b2-285]Ada Cheung,1317881024,,NaN,NaN,NaN,NaN,Ada Cheung,b2-285,NaN
4,1353,1058,754,Lam Wu-Fui Painting Exhibit[cheryl%%lbcheryl@u...,9,[p=b2-290]Min-min Chang (周敏民),1317881122,,NaN,NaN,NaN,NaN,Min-min Chang (周敏民),b2-290,NaN

In [82]:
print("dim of ws_tagthis is", df_tnew.shape)
temp = df_tnew.isna().sum()
temp[temp != 0]

dim of ws_tagthis is (824, 15)

posLeft    130
posTop     130
width      130
height     130
name         6
p            6
pid        136
dtype: int64

In [83]:
df_tnew.describe()

,id,postid,tagid,status,posLeft,posTop,width,height
count,824.000000,824.000000,824.000000,824.0,694.000000,694.000000,694.000000,694.000000
mean,1760.500000,1110.951456,1101.157767,9.0,276.837176,127.504323,98.546110,107.815562
std,238.012605,373.289137,319.307143,0.0,138.777671,90.681813,60.024815,63.511806
min,1349.000000,0.000000,0.000000,9.0,0.000000,0.000000,0.000000,0.000000
25%,1554.750000,935.000000,922.750000,9.0,172.250000,73.000000,64.250000,73.000000
50%,1760.500000,1058.000000,1126.500000,9.0,280.500000,111.000000,88.000000,100.500000
75%,1966.250000,1292.000000,1337.250000,9.0,381.000000,151.000000,122.000000,130.000000
max,2172.000000,1861.000000,1549.000000,9.0,578.000000,778.000000,641.000000,779.000000

In [84]:
df_tnew.to_csv('ws_tagthis.csv', index=False)

## New table

### album

- albumID => int increment
- albumName => 'name' from wp_ngg_gallery
- aTitle => 'post_title' of wp_posts
- thumbnail => first pic of album
- aDate => 'post_date_gmt' of wp_posts
- mDate => 'post_modified_gmt' of wp_posts
- aURL => 'guid' from wp_posts

In [19]:
df_gallery = pd.read_sql_query("SELECT * FROM  wp_ngg_gallery", con)
df_gallery.head(5)

,gid,name,slug,path,title,galdesc,pageid,previewpic,author,extras_post_id
0,633,lib-0006,,evimg2/lib-0006,lib-0006,None,0,12944,0,0
1,634,lib-0011,,evimg2/lib-0011,lib-0011,None,0,13118,0,0
2,635,lib-0101,,evimg2/lib-0101,lib-0101,None,0,13190,0,0
3,636,lib-0102,,evimg2/lib-0102,lib-0102,None,0,13335,0,0
4,637,lib-0109,,evimg2/lib-0109,lib-0109,None,0,13457,0,0

In [45]:
def checkna(a, b):
    if a.values:
        return a.values
    return b

df = df_gallery['name'].drop_duplicates()
df = df.reset_index().rename(columns={'index':'albumID'})

df_post = pd.read_csv('wp_post.csv')

for i in range(len(df)):
    temp = df_post[df_post['post_name'] == df.loc[i, 'name']]
    if not temp.empty:
        df.loc[i, 'aTitle'] = temp['evtitle'].values
        df.loc[i, 'aDate'] = temp['post_date_gmt'].values
        df.loc[i, 'mDate'] = temp['post_modified_gmt'].values
        df.loc[i, 'aURL'] = temp['guid'].values
df

,albumID,name,aTitle,aDate,mDate,aURL
0,0,lib-0006,OCLC Institute Knowledge Management: Methods a...,2012-03-08 04:05:01,2012-03-08 04:05:01,http://digitalimages.ust.hk/gallery/?p=601
1,1,lib-0011,"Recent Works by Karla Gaenessler, 8 November 2...",2012-03-08 04:05:03,2012-03-08 04:05:03,http://digitalimages.ust.hk/gallery/?p=602
2,2,lib-0101,2001 PNC Pacific Neighborhood Consortium Annua...,2012-03-08 04:05:03,2012-03-08 04:05:03,http://digitalimages.ust.hk/gallery/?p=603
3,3,lib-0102,"Calligraphy Works by Grace. Y.T. Tong, 13 Febr...",2012-03-08 04:05:03,2012-03-08 04:05:03,http://digitalimages.ust.hk/gallery/?p=604
4,4,lib-0109,&quot;Landmarks in Science and Technology&quot...,2012-03-08 04:05:04,2012-03-08 04:05:04,http://digitalimages.ust.hk/gallery/?p=605
...,...,...,...,...,...,...
978,978,fm-sc-x7,Social Club,2015-04-13 07:44:42,2016-09-02 07:10:17,http://digitalimages.ust.hk/gallery/?p=1888
979,979,fm-vpaao-0110a,Visit of Mayor of Shenzhen Government = Visit ...,2015-04-13 07:44:42,2015-04-13 07:44:42,http://digitalimages.ust.hk/gallery/?p=1889
980,980,fm-vpaao-0110b,Dedication Ceremony of &quot;Mother &amp; Chil...,2015-04-13 07:44:42,2015-04-13 07:44:42,http://digitalimages.ust.hk/gallery/?p=1890
981,981,fm-vpaao-99,Yahoo U Seminar,2015-04-13 07:44:42,2015-04-13 07:44:42,http://digitalimages.ust.hk/gallery/?p=1891
982,982,fm-vpaao-9912,Visit of Dan Tsui to UST,2015-04-13 07:44:43,2015-04-13 07:44:43,http://digitalimages.ust.hk/gallery/?p=1892

In [51]:
df.isna().sum()

albumID     0
name        0
aTitle     37
aDate      37
mDate      37
aURL       37
dtype: int64

In [50]:
df.to_csv('./newdb/album.csv', index=False)

### photo

- photoID => int increment
- filename => 'image_slug' of wp_ngg_pictures
- imagepath => 'name' + 'image_path'
- physicalFormat ???
- archiveBox ???
- aID => 'albumID' of album

In [21]:
df_gal = pd.read_sql_query("SELECT * FROM  wp_ngg_gallery", con)

df_pic = pd.read_sql_query("SELECT * FROM  wp_ngg_pictures", con)
df_pic.head(1)

,pid,image_slug,post_id,galleryid,filename,description,alttext,imagedate,exclude,sortorder,meta_data,extras_post_id,updated_at
0,34314,com_kite_001sm,0,665,COM_KITE_001SM.jpg,,COM_KITE_001SM,2011-11-10 15:50:53,0,0,eyIwIjpmYWxzZSwiYXBlcnR1cmUiOiJGIDkiLCJjcmVkaX...,2053,1.666943e+09

In [58]:
df = df_pic['image_slug'].drop_duplicates()
df = df.reset_index().rename(columns={'index':'photoID', 'image_slug':'filename'})

df_gallery = pd.read_csv('newdb/album.csv', index_col=0)

for i in range(len(df)):
    temp = df_gal[df_gal['gid'] == df_pic[df_pic['image_slug'] == df.loc[i, 'filename']]['galleryid'].values[0]]
    if not temp.empty:
        df.loc[i, 'imagepath'] = temp['path'].values[0] + '/' + df_pic[df_pic['image_slug'] == df.loc[i, 'filename']]['filename'].values
        df.loc[i, 'aID'] = df_gallery[df_gallery['name'] == temp['name'].values[0]]['albumID'].values[0]
df.head(1)

   photoID        filename                        imagepath   aID
0        0  com_kite_001sm  evimg2/a1-10/COM_KITE_001SM.jpg  32.0

In [59]:
df.to_csv('newdb/photo.csv', index=False)

### tag

- ptagID => int increment
- phototID => 'photoID' of photo
- personID => 'personID' of personID
- c1 => 'posLeft' of wp_tagthis
- c2 => 'posTop' of wp_tagthis
- c3 => 'width' of wp_tagthis
- c4 => 'height' of wp_tagthis

In [112]:
df_tag = pd.read_csv('wp_tagthis.csv')

df_person = pd.read_csv('newdb/tagPerson.csv')

df_photo = pd.read_csv('newdb/photo.csv')

df_p = pd.read_sql_query("SELECT * FROM  wp_ngg_pictures", con)

df_album = pd.read_csv('newdb/album.csv')

df_tag.head(1)

,id,postid,tagid,posttitle,status,tag,timestamp,ip,posLeft,posTop,width,height,name,p,pid
0,1349,1251,750,Vice Chancellor\'s Office (VC)[Diana Chan%%dia...,9,[p=c2-370]Chia-wei Woo (吳家瑋),1317713455,NaN,NaN,NaN,NaN,NaN,Chia-wei Woo (吳家瑋),c2-370,NaN

In [125]:
df = df_tag.loc[:,['p','pid','name','posLeft','posTop','width','height']]
df = df.reset_index().rename(columns={'p':'albumID', 'pid':'photoID', 'name':'personID', 'posLeft':'c1', 'posTop':'c2', 'width':'c3', 'height':'c4'}).drop(columns=['index'], axis=1)
df.index.names = ['tagID']
for i in range(len(df)):
    if len(df_person[df_person['name'] == df.loc[i, 'personID']]['personID'].values):
        df.loc[i , 'personID'] = df_person[df_person['name'] == df.loc[i, 'personID']]['personID'].values
    if len(df_album[df_album['name'] == df.loc[i, 'albumID']]['albumID'].values):
        df.loc[i, 'albumID'] = df_album[df_album['name'] == df.loc[i, 'albumID']]['albumID'].values 
df

      albumID         photoID personID     c1     c2     c3     c4
tagID
0         644             NaN        0    NaN    NaN    NaN    NaN
1         456             NaN        1    NaN    NaN    NaN    NaN
2         450             NaN        2    NaN    NaN    NaN    NaN
3         450             NaN        3    NaN    NaN    NaN    NaN
4         451             NaN        1    NaN    NaN    NaN    NaN
...       ...             ...      ...    ...    ...    ...    ...
819       693           407-3       24  387.0   75.0   94.0   92.0
820        13           197-8      296  186.0  130.0   74.0   73.0
821       298  UST SI2_013_SM      297   46.0   91.0  524.0  315.0
822        24            36-3       13  437.0  159.0  108.0  112.0
823        15          226-25      298   53.0   74.0   94.0   91.0

[824 rows x 7 columns]

In [126]:
df.to_csv('newdb/tag.csv')

### tagPerson

- personID => int increment
- name_c => 'tag' of wp__tagthis
- name_e => 'tag' of wp_tagthis
- details ???
- url ???

In [81]:
df_tag = pd.read_csv('wp_tagthis.csv')
df = df_tag['name'].drop_duplicates()
df = df.reset_index().rename(columns={'name':'name'}).drop(columns=['index'], axis=1)
df.index.names = ['personID']
df

                         name
personID
0          Chia-wei Woo (吳家瑋)
1         Min-min Chang (周敏民)
2                   Sun Zehua
3                  Ada Cheung
4                   Kelly Yiu
...                       ...
294                Cheryl Lee
295                Heidi Choi
296            Catherine Kwok
297          Library building
298                   Dick Li

[299 rows x 1 columns]

In [82]:
df.to_csv('newdb/tagPerson.csv')

### eventType

- eventID => int increment
- eventTypeName => 'evtype' of wp_post

In [75]:
df_post = pd.read_csv('wp_post.csv')
df = df_post['evtype'].drop_duplicates()
df = df.reset_index().rename(columns={'evtype':'eventTypeName'}).drop(columns=['index'], axis=1)
df.index.names = ['eventID']
df

                                    eventTypeName
eventID
0                                             NaN
1                                      Colloquium
2                                      Exhibition
3                                      Conference
4                                        Workshop
5                                     Celebration
6                                     Publication
7                                        Ceremony
8                                      Activities
9                                        Students
10                                         Campus
11                                   Congregation
12                                        Council
13                                          Court
14                                     Department
15                                       Donation
16                                          staff
17                                      Interview
18                                   Introduction
19                                   Laboratories
20                     Lecture/Seminar/Talk/Forum
21       &quot;Lecture, Seminar/Talk, Forum&quot;
22                                        Meeting
23                                      Programme
24                  Open Day/Student Outreach Day
25                                     Out of UST
26                                         People
27                                      Symposium
28                                     Technology
29                                          Visit
30                                          visit
31                                Workshop/Course
32                                    Recruitment
33                                         Report
34                                     Slide Show
35                                        Project
36                             Winning Activities
37                                       Open Day
38                                        Seminar

In [76]:
df.to_csv('newdb/eventType.csv')

In [4]:
df = pd.read_csv('newdb/tag.csv')
df

     tagID  albumID         photoID  personID     c1     c2     c3     c4
0        0    644.0             NaN       0.0    NaN    NaN    NaN    NaN
1        1    456.0             NaN       1.0    NaN    NaN    NaN    NaN
2        2    450.0             NaN       2.0    NaN    NaN    NaN    NaN
3        3    450.0             NaN       3.0    NaN    NaN    NaN    NaN
4        4    451.0             NaN       1.0    NaN    NaN    NaN    NaN
..     ...      ...             ...       ...    ...    ...    ...    ...
819    819    693.0           407-3      24.0  387.0   75.0   94.0   92.0
820    820     13.0           197-8     296.0  186.0  130.0   74.0   73.0
821    821    298.0  UST SI2_013_SM     297.0   46.0   91.0  524.0  315.0
822    822     24.0            36-3      13.0  437.0  159.0  108.0  112.0
823    823     15.0          226-25     298.0   53.0   74.0   94.0   91.0

[824 rows x 8 columns]

In [6]:
df['personID'].value_counts()

personID
0.0      63
15.0     41
1.0      30
91.0     16
93.0     14
         ..
145.0     1
146.0     1
147.0     1
150.0     1
298.0     1
Name: count, Length: 298, dtype: int64